#align
{
    padding-left: 40%;
}

h2
{
    margin-left: 40%;
    color:white;
}

h1
{
    color:white;
}

label
{
    color:white;
}

.nav-link
{
    font-size: x-large;
    color: white;
}

#userhome
{
  font-size: x-large;
  color: white;
}

.userclass
{
  color: black;
}

#logo
{
    padding-left: 10%;
}

#indexpara
{
    font-size: 30px;
    color:white;
}

th
{
  background-color:black;
  color:white
}
body {
  //background-color:#d5f0f5;
  background-image: url('wallpaper2.jpg');
  background-repeat:no-repeat;
  background-size: 100%
}
