#align
{
    
    text-align: center;
}

h2
{
    text-align: center;
    color:white;
}

h1
{
    color:white;
}

label
{
    color:white;
}

.other {
  background-color: #e7e7e7; color: black;
  } /* Gray */

.nav-link
{
    font-size: x-large;
    color: white;
}

#userhome
{
  font-size: x-large;
  color: white;
}

.userclass
{
  color: black;
}

#logo
{
    padding-left: 10%;
}

#indexpara
{
    font-size: 30px;
    color:white;
}

th
{
  background-color:black;
  color:white
}
body {
  background-image: url('wallpaper2.jpg');
  background-repeat:no-repeat;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
