{% extends "layout.html" %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<h2>changepassword </h2>
<br><br>
<form onsubmit="return validate()" action="{{ url_for('changepassword') }}" method="POST">

      <div class="form-group">
        <input name="pass" type="password" class="form-control" id="passwordid" placeholder="New Password" required><br>

        <input name="passconfirm" type="password" class="form-control" id="conpasswordid" placeholder="Confirm Password" required>
      </div>

      <br><br>
      <input type="checkbox" aria-label="Checkbox for following text input" required>
      <label> By clicking this box you agree with <a href="{{ url_for('disclaim') }}">t&c</a> </label>


      <br><br>
      <div id="align">
        <input class="btn btn-primary" type="submit" value="Submit">
        &nbsp; &nbsp;
        <a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Cancel</a>
      </div>



</form>
{% endblock %}
