{% extends "layout.html" %}
{% block title %} 
Thank You
{% endblock %}

{% block body %}

<h1 style="margin-left: 10%;">Enter following details to recover your password</h1><br><br>

<form action="{{ url_for('forgotpassword') }}" method="POST">

    <div class="form-group">
        <input name="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="username" required><br>

        <select name="recoverpass" class="form-control" required>
            <option disabled selected>Select security question</option>
            <option value = "que1">What is your mothers maiden name?</option>
            <option value = "que2">What was the name of your first pet?</option>
            <option value = "que3">What city were you born in?</option>
        </select>

        <br>
        <input name="ans" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer" required>
        <br><br>
        <div id="align">
            <input class="btn btn-primary" type="submit" value="Submit">
            &nbsp; &nbsp;
            <a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Cancel</a>
        </div>

</div>
{% endblock %}