<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link href= "https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <!-- Required meta tags listing-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>      

        <script src="/static/validate.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#example').DataTable();
        } );
        </script>

        <script>
        $(document).ready(function(){

        $("#iduser").change(function(){
         let data_para = {
            username: document.getElementById("iduser").value
         };

          $.getJSON( "/checkuser", data_para ,function( data ) {

            datavalue = data;
            if(data != "Usernameavailable!")
            {
                document.getElementById("iduser").style.color = "white";
                document.getElementById("iduser").style.backgroundColor = "red";
                document.getElementById("iduser").value = data;
            }
            else
            {
                document.getElementById("iduser").style.color = "black";
                document.getElementById("iduser").style.backgroundColor = "white";
            }

          });


        });

        });
        </script>

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body >


        <!-- Image and text
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        NeedSeva
        </a>-->

        <nav style ="background-color:#24292e" class="navbar navbar-expand-lg navbar-light">
            <a style="font-size: 200%;" class="navbar-brand" href="{{ url_for('index') }}">
            <img id="logo" src="/static/needseva4.png" width="40%" alt="NeedSeva Logo">
            </a>
        <div class="collapse navbar-collapse" id="navbar"></div>
            {% if session.user_id %}
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('userhome') }}">{{ session.user_id }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test') }}"> Volunteer/Customer </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signout') }}">Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                    </li>

                </ul>
            {% endif %}
          </div>
    </nav>
    <main class="container p-5">
        {% block body %}
        {% endblock %}
    </main>
    </body>
</html>
