{% extends "layout.html" %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<h2>Registration </h2>
<br><br>
<form onsubmit="return validate()" action="{{ url_for('register') }}" method="POST">

    <div class="row">
        <div class="col">
        <input name="fname" type="text" class="form-control" placeholder="First name" required>
        </div>
        <div class="col">
        <input name="lname" type="text" class="form-control" placeholder="Last name" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input name="add" type="text" class="form-control" id="id1" placeholder="Address" required><br>

        <input name="zip" type="number" class="form-control" id="id2" placeholder="Zip code" required><br>

        <input name="email" type="email" class="form-control" id="id3" placeholder="Email Address" required><br>

        <input name="phNo" type="number" class="form-control" id="id4" placeholder="Phone Number" required><br>

        <input name="user" type="text" class="form-control" id="iduser" placeholder="UserName" required><br>

        <input name="pass" type="password" class="form-control" id="passwordid" placeholder="Password" required><br>

        <input name="passconfirm" type="password" class="form-control" id="conpasswordid" placeholder="Confirm Password" required>
      </div>

      <select name="recoverpass" class="form-control" required>
        <option disabled selected>Select security question</option>
        <option value = "que1">What is your mothers maiden name?</option>
        <option value = "que2">What was the name of your first pet?</option>
        <option value = "que3">What city were you born in?</option>
      </select>
      <br>
      <input name="ans" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer" required>

      <br><br>
      <input type="checkbox" aria-label="Checkbox for following text input" required>
      <label> By clicking this box you agree with <a href="{{ url_for('disclaim') }}">t&c</a> </label>




      <br><br>
      <div id="align">
        <input class="btn btn-primary" type="submit" value="Submit">
        &nbsp; &nbsp;
        <a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Cancel</a>
      </div>



</form>
{% endblock %}
